@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", "Helvetica";
}
html,
body {
  height: 100%;
}
header {
  padding: 2% 0;
  position: sticky;
  top: 0;
  z-index: 200;
}
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 2000px;
  margin: 0 auto;
}
main {
  flex: 1;
}
.my-container {
  max-width: 100%;
  padding: 0px 80px;
}

.my-link {
  color: rgb(30, 30, 30);
  text-decoration: none;
  margin: 5px;
}
.languages {
  text-decoration: none;
  color: rgb(70, 59, 144);
}
.active {
  color: rgb(68, 180, 255);
}
/* .logo-header {
  width: 50px;
  height: 50px;
} */
/* .content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
} */
header {
  -webkit-background: #ffffff;
  background: #ffffff;
}
.img-block {
  max-width: 200px;
}
footer {
  font-size: 12px;
}
.contact-us {
  color: #303030;
  font-size: 14px;
}
.contact-us-btn {
  border-radius: 25px;
  background: #463b90;
  color: white;
  padding: 10px 25px;
  font-weight: 500;
  border: #463b90;
  white-space: nowrap;
  margin-left: 30px;
}
.contact-wrapper {
  position: absolute;
  top: 110%;
  right: 0;
  max-width: 250px;
}
.contact-block {
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(30, 30, 30, 0.3);
  padding: 20px;
  position: relative;
  background: #fff;
  z-index: 99;
}
.contact-title {
  font-size: 16px;
  margin-bottom: 20px;
}
.whywe__block {
  margin: 15% 0;
}
.contacts-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contacts-media {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.call-us-btn {
  border-radius: 20px;
  background: #463b90;
  padding: 10px 20px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
}
.send-message-btn {
  border-radius: 20px;
  background: #463b90;
  padding: 10px 20px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: block;
  font-weight: 600;
  color: #ffffff;
}
.email-btn {
  border-radius: 20px;
  padding: 8px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  border: 0.5px solid rgba(70, 59, 144, 0.5);
  background: #ffffff;
  margin-bottom: 15px;
}
.form-input {
  width: 80%;
  border-radius: 10px;
  border: 0.5px solid rgb(70, 59, 144);
  padding: 5px;
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.number-input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* For other browsers */
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Remove default margin */
}
.form-title {
  color: #303030;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
}
.lang__block {
  border-radius: 30px;
  border: 0.5px solid rgba(70, 59, 144, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 9px 15px;
  color: #463b90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.lang {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 7px rgba(60, 60, 60, 0.3);
  padding: 10px;
  background: #fff;
  z-index: 100;
}
.lang__item {
  font-weight: 700;
  padding: 5px 0;
  cursor: pointer;
}
.burger-language {
  align-self: start;
  margin-top: -10px;
}
.burger-lang__block {
}
.burger-lang {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.burger-lang__item {
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 12px;
  margin: 0 5px 0 5px;
}
.burger {
  display: flex;
  align-items: center;
}
.burger-btn {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  -webkit-justify-content: end;
  cursor: pointer;
}
.burger-btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 25px;
  background: #303030;
  height: 2px;
  border-radius: 5px;
}
.burger-btn span {
  width: 30px;
  background: #303030;
  height: 2px;
  border-radius: 5px;
}
.burger-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 25px;
  background: #303030;
  height: 2px;
  border-radius: 5px;
}
.burger-body {
  position: fixed;
  min-width: 40%;
  height: 100%;
  background: #fff;
  right: 0;
  top: 0;
  padding: 50px;
  box-shadow: 0px 5px 15px rgba(30, 30, 30, 0.5);
  transform: translateX(100%);
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 101;
}
.burger-body.active {
  transform: translateX(0);
  transition: all 0.4s;
}
.burger-wrapper {
  width: 100%;
}
.burger-hide-btn {
  position: absolute;
  top: -30px;
  right: -5px;
  cursor: pointer;
  opacity: 0.4;
}

/* PAGE WHY VENKON */
.why-wrapper {
  margin-bottom: 80px;
}

/* SWIPER */
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
  color: rgb(103, 39, 175);
  background: rgba(255, 255, 255, 0.7);
  padding: 30% 60% 30% 70%;
  border-radius: 50%;
  margin-right: 200%;
  text-align: center;
  font-size: 2em !important;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
  color: rgb(103, 39, 175);
  background: rgba(255, 255, 255, 0.7);
  padding: 30% 70% 30% 60%;
  border-radius: 50%;
  margin-left: 200%;
  text-align: center;
  font-size: 2em !important;
}

/* MEDIA */
@media (min-width: 2000px) {
  .my-container {
    padding: 0px 80px;
  }
}
@media (max-width: 1999px) {
  .my-container {
    padding: 0px 80px;
  }
}
@media (max-width: 1599px) {
  .my-container {
    padding: 0px 50px;
  }
  .why-wrapper {
    margin-bottom: 80px;
  }
}
@media (max-width: 1199px) {
  .my-container {
    padding: 0px 30px;
  }
  .why-wrapper {
    margin-bottom: 70px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1.5em !important;
    padding: 20% 40% 20% 50%;
    margin-right: 150%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1.5em !important;
    padding: 20% 50% 20% 40%;
    margin-left: 150%;
  }
}
@media (max-width: 991px) {
  .my-container {
    padding: 0px 20px;
  }
  .call-us-btn {
    margin-bottom: 10px;
  }
  .email-btn {
    margin-bottom: 10px;
  }
  .why-wrapper {
    margin-bottom: 60px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    margin-right: 100%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    margin-left: 100%;
  }
}
@media (min-width: 769px) {
  .burger-desktop {
    display: none;
  }
  .whywe__block {
    display: none;
  }
}
@media (max-width: 768px) {
  .lang-desktop {
    display: none;
  }
  /* .contacts-media {
    justify-content: space-between;
    -webkit-justify-content: space-between; 
  } */
  .why-wrapper {
    margin-bottom: 50px;
  }
  .whywe-desktop {
    display: none;
  }
  .my-container {
    padding: 0px 15px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1em !important;
    padding: 15% 30% 15% 35%;
    margin-right: 30%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1em !important;
    padding: 15% 35% 15% 30%;
    margin-left: 30%;
  }
}
@media (max-width: 576px) {
  .burger-body {
    padding: 50px 30px;
  }
  .burger-language {
    margin-bottom: 0px;
  }
  .burger-lang__item {
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 10px;
  }
  .contact-wrapper {
    max-width: 200px;
  }
  .contact-block {
    padding: 15px;
    font-size: 12px;
  }
  .contact-us-btn {
    padding: 10px 15px;
    font-size: 12px;
  }
  .contact-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .contacts-block {
  }
  .call-us-btn {
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 12px;
  }
  footer {
    font-size: 10px;
  }
  .my-container {
    padding: 0px 8px;
  }
  .img-block {
    max-width: 120px;
  }
  .email {
    font-size: 12px;
  }
  .email-btn {
    border-radius: 20px;
    padding: 4px 15px;
    font-size: 12px;
  }
  .why-wrapper {
    margin-bottom: 40px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.8em !important;
    padding: 10% 20% 10% 25%;
    margin-right: 0%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.8em !important;
    padding: 10% 25% 10% 20%;
    margin-left: 0%;
  }
}
@media (max-width: 367px) {
  .contact-wrapper {
    top: 110%;
    right: -20%;
  }
  .burger-body {
    width: 70%;
    padding: 50px 20px;
  }
  .send-message-btn {
    padding: 10px;
    width: 100%;
    font-size: 10px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.5em !important;
    padding: 8% 14% 8% 16%;
    margin-left: 80%;
    margin-right: 0%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.5em !important;
    padding: 8% 16% 8% 14%;
    margin-right: 80%;
    margin-left: 0%;
  }
}
