* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 2000px;
  margin: 0 auto;
}
main {
  flex: 1;
}
.my-container {
  max-width: 100%;
  padding: 10px 80px;
}
.my-link {
  color: rgb(30, 30, 30);
  text-decoration: none;
  margin: 5px;
}
.languages {
  text-decoration: none;
  color: rgb(70, 59, 144);
}
.active {
  color: rgb(68, 180, 255);
}
/* .logo-header {
  width: 50px;
  height: 50px;
} */
/* .content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
} */
header {
  background: #ffffff;
}
.img-block {
  max-width: 200px;
}
footer {
  font-size: 12px;
}
.contact-us {
  color: #303030;
  font-size: 14px;
}
.contact-us-btn {
  border-radius: 25px;
  background: #463b90;
  color: white;
  padding: 10px 25px;
  font-weight: 500;
  border: #463b90;
  white-space: nowrap;
  margin-left: 30px;
}
.contact-wrapper {
  position: absolute;
  top: 110%;
  right: 0;
  max-width: 250px;
}
.contact-block {
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(30, 30, 30, 0.3);
  padding: 20px;
  position: relative;
  background: #fff;
  z-index: 99;
}
.contact-title {
  font-size: 16px;
  margin-bottom: 20px;
}
.whywe__block {
  margin: 10px 0;
}
.contacts-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contacts-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10;
}
.call-us-btn {
  border-radius: 20px;
  background: #463b90;
  padding: 10px 20px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  color: #ffffff;
}
.send-message-btn {
  border-radius: 20px;
  background: #463b90;
  padding: 10px 20px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: block;
  font-weight: 600;
  color: #ffffff;
}
.email-btn {
  border-radius: 20px;
  padding: 8px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  text-align: center;
  border: 0.5px solid rgba(70, 59, 144, 0.5);
  background: #ffffff;
}
.form-input {
  width: 80%;
  border-radius: 10px;
  border: 0.5px solid rgb(70, 59, 144);
  padding: 5px;
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.number-input {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* For other browsers */
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Remove default margin */
}
.form-title {
  color: #303030;
  font-weight: 600;
  font-size: 12px;
}
.lang__block {
  border-radius: 30px;
  border: 0.5px solid rgba(70, 59, 144, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 9px 15px;
  color: #463b90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.lang {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 7px rgba(60, 60, 60, 0.3);
  padding: 10px;
  background: #fff;
  z-index: 100;
}
.lang__item {
  font-weight: 700;
  padding: 5px 0;
  cursor: pointer;
}
.burger-language {
  align-self: start;
  margin-top: -10px;
}
.burger-lang__block {
}
.burger-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.burger-lang__item {
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 12px;
}
.burger {
  display: flex;
  align-items: center;
}
.burger-btn {
  width: 20px;
  height: 15px;
  margin-left: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}
.burger-btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 25px;
  background: #303030;
  height: 2px;
  border-radius: 5px;
}
.burger-btn span {
  width: 30px;
  background: #303030;
  height: 2px;
  border-radius: 5px;
}
.burger-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 25px;
  background: #303030;
  height: 2px;
  border-radius: 5px;
}
.burger-body {
  position: fixed;
  min-width: 40%;
  height: 100%;
  background: #fff;
  right: 0;
  top: 0;
  padding: 50px;
  box-shadow: 0px 5px 15px rgba(30, 30, 30, 0.5);
  transform: translateX(100%);
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 101;
}
.burger-body.active {
  transform: translateX(0);
  transition: all 0.4s;
}
.burger-wrapper {
  width: 100%;
}
.burger-hide-btn {
  position: absolute;
  top: -30px;
  right: -5px;
  cursor: pointer;
  opacity: 0.4;
}

/* PAGE WHY VENKON */
.why-wrapper {
  margin-bottom: 80px;
}
/* first section */
.why-cover-img {
  position: relative;
}
.why-cover-title {
  position: absolute;
  font-weight: bold;
  font-size: 56px;
  left: 5%;
  top: 10%;
  z-index: 3;
  max-width: 45%;
}
.why-cover-text {
  position: absolute;
  font-weight: 500;
  font-size: 24px;
  left: 5%;
  bottom: 10%;
  z-index: 4;
  max-width: 50%;
}
.cover-overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.49951855742296913) 35%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  color: #ffffff;
  z-index: 2;
  border-radius: 50px;
}
.cover-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 30vw;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  border-radius: 50px;
}

/* second section */
.why-sec-title {
  font-size: 48px;
  font-weight: 500;
  text-align: start;
  margin-bottom: 30px;
}
.sec-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sec-img-wrap {
  position: relative;
  max-width: 100%;
  max-height: 400px;
  height: 20vw;
}
/* .sec-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgb(50, 50, 50, 0.7) 0%,
    rgba(70, 70, 70, 0.4) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding: 5%;
  z-index: 2;
  border-radius: 20px;
} */
.sec-text {
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.2;
  max-width: 40%;
  text-align: center;
  color: #303030;
  margin-right: 10%;
  margin-left: 5%;
}
.sec-image {
  width: 100%;
  max-height: 400px;
  height: 20vw;
  max-width: 100%;
  margin-right: 10%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  border-radius: 20px;
  -webkit-mask-image: radial-gradient(rgb(51, 0, 80) 20%, transparent 75%);
  mask-image: radial-gradient(rgb(51, 0, 80) 20%, transparent 75%);
}

/* SWIPER */
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
  color: rgb(103, 39, 175);
  background: rgba(255, 255, 255, 0.7);
  padding: 30% 60% 30% 70%;
  border-radius: 50%;
  margin-right: 200%;
  text-align: center;
  font-size: 2em !important;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
  color: rgb(103, 39, 175);
  background: rgba(255, 255, 255, 0.7);
  padding: 30% 70% 30% 60%;
  border-radius: 50%;
  margin-left: 200%;
  text-align: center;
  font-size: 2em !important;
}

/* THIRDV SECTION */
/* .third__wrapper {
}
.third-img-wrap {
  position: relative;
}
.third-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 3%;
  color: #ffffff;
  z-index: 2;
  border-radius: 50px;
}
.third-text {
  position: absolute;
  font-weight: 500;
  font-size: 48px;
  z-index: 4;
  max-width: 70%;
  color: #303030;
}
.third-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 30vw;
  object-fit: cover;
  object-position: top;
  z-index: 1;
  border-radius: 50px;
  -webkit-mask-image: linear-gradient(
    to left,
    white -40%,
    white 20%,
    transparent 100%
  );
  mask-image: linear-gradient(to left, white -40%, white 20%, transparent 100%);
} */

/* THIRD SECTION */
.third-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.third-text {
  font-size: 40px;
  font-weight: 500;
  min-width: 60%;
  margin-bottom: 5%;
  text-align: center;
}
.third-img-wrap {
  position: relative;
}
.third-image {
  width: 90%;
  height: auto;
  max-width: 90%;
  max-height: 25%;
  object-fit: cover;
  object-position: center;
  -webkit-mask-image: radial-gradient(rgb(51, 0, 80) -25%, transparent 65%);
  mask-image: radial-gradient(rgb(51, 0, 80) -25%, transparent 65%);
}

/* FOURTH SECTION */
.fourth-projects {
}
.fourth-img-wrap {
  position: relative;
  margin-bottom: 20px;
}
.fourth-text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.9) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  color: #ffffff;
  z-index: 2;
  border-radius: 0 0 50px 50px;
  transition: all 0.8s ease-out;
  padding: 3%;
}
.fourth-text-overlay.expanded {
  height: 100%;
  border-radius: 50px;
}
.fourth-text-title {
  font-weight: 500;
  font-size: 44px;
  margin-bottom: 20px;
}
.fourth-text-text {
  font-weight: 500;
  font-size: 24px;
  max-height: 100%;
  overflow-y: auto;
}
.fourth-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 35vw;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  border-radius: 50px;
}

/* MEDIA */
@media (min-width: 2000px) {
  .my-container {
    padding: 20px 80px;
  }
  .cover-image {
    max-height: 600px;
  }
  .third-image {
    max-height: 600px;
  }
  .fourth-image {
    max-height: 600px;
  }
}
@media (max-width: 1999px) {
  .my-container {
    padding: 20px 80px;
  }
  .third-text {
    font-size: 40px;
  }
}
@media (max-width: 1599px) {
  .my-container {
    padding: 20px 50px;
  }
  .why-wrapper {
    margin-bottom: 60px;
  }
  .why-cover-title {
    font-size: 42px;
  }
  .why-cover-text {
    font-size: 20px;
  }
  .sec-text {
    font-size: 26px;
  }
  .third-text {
    font-size: 32px;
  }
  .fourth-text-title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .fourth-text-text {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .my-container {
    padding: 10px 30px;
  }
  .why-wrapper {
    margin-bottom: 50px;
  }
  .why-cover-title {
    font-size: 34px;
  }
  .why-cover-text {
    font-size: 18px;
  }
  .cover-overlay {
    border-radius: 30px;
  }
  .cover-image {
    border-radius: 30px;
  }
  .why-sec-title {
    font-size: 38px;
  }
  .fourth-text-text {
    font-size: 20px;
  }
  .sec-overlay {
    background: linear-gradient(
      rgb(50, 50, 50, 0.7) 0%,
      rgba(70, 70, 70, 0.4) 30%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 15px;
  }
  .sec-image {
    border-radius: 15px;
  }
  .sec-text {
    font-size: 20px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1.5em !important;
    padding: 20% 40% 20% 50%;
    margin-right: 150%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1.5em !important;
    padding: 20% 50% 20% 40%;
    margin-left: 150%;
  }
  /* .third-image {
    border-radius: 30px;
  }
  .third-text-overlay {
    border-radius: 30px;
  } */
  .third-text {
    font-size: 24px;
  }
  .fourth-text-overlay {
    border-radius: 0 0 30px 30px;
  }
  .fourth-text-overlay.expanded {
    border-radius: 30px;
  }
  .fourth-text-title {
    font-size: 32px;
  }
  .fourth-text-text {
    font-size: 16px;
  }
  .fourth-image {
    border-radius: 30px;
  }
}
@media (max-width: 991px) {
  .my-container {
    padding: 10px 20px;
  }
  .why-wrapper {
    margin-bottom: 40px;
  }
  .why-cover-title {
    font-size: 30px;
  }
  .why-cover-text {
    font-size: 16px;
  }
  .cover-overlay {
    border-radius: 25px;
  }
  .cover-image {
    border-radius: 25px;
  }
  .why-sec-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .sec-img-wrap {
    margin: 0px 5px;
  }
  .sec-overlay {
    background: linear-gradient(
      rgb(50, 50, 50, 0.7) 0%,
      rgba(70, 70, 70, 0.5) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    /* padding: 20px 30px; */
    border-radius: 15px;
  }
  .sec-image {
    border-radius: 15px;
  }
  .sec-text {
    font-size: 16px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    margin-right: 100%;
  }

  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    margin-left: 100%;
  }
  /* .third-image {
    border-radius: 25px;
  }
  .third-text-overlay {
    border-radius: 25px;
  } */
  .third-text {
    font-size: 18px;
  }
  .fourth-img-wrap {
    margin-bottom: 15px;
  }
  .fourth-text-overlay {
    border-radius: 0 0 25px 25px;
  }
  .fourth-text-overlay.expanded {
    border-radius: 25px;
  }
  .fourth-text-title {
    font-size: 24px;
  }
  .fourth-text-text {
    font-size: 14px;
  }
  .fourth-image {
    border-radius: 25px;
  }
}
@media (min-width: 769px) {
  .burger-desktop {
    display: none;
  }
  .whywe__block {
    display: none;
  }
}
@media (max-width: 768px) {
  .lang-desktop {
    display: none;
  }
  /* .contacts-media {
    justify-content: space-between;
  } */
  .why-wrapper {
    margin-bottom: 30px;
  }
  .whywe-desktop {
    display: none;
  }
  .my-container {
    padding: 10px 15px;
  }
  .why-cover-title {
    font-size: 22px;
    left: 4%;
    top: 7%;
  }
  .why-cover-text {
    font-size: 14px;
    left: 4%;
    bottom: 7%;
  }
  .cover-overlay {
    border-radius: 20px;
  }
  .cover-image {
    border-radius: 20px;
  }
  .why-sec-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .sec-overlay {
    /* padding: 20px 20px; */
    border-radius: 10px;
  }
  .sec-image {
    border-radius: 10px;
  }
  .sec-text {
    font-size: 12px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1em !important;
    padding: 15% 30% 15% 35%;
    margin-right: 30%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 1em !important;
    padding: 15% 35% 15% 30%;
    margin-left: 30%;
  }
  /* .third-image {
    border-radius: 20px;
  }
  .third-text-overlay {
    border-radius: 20px;
  } */
  .third-text {
    font-size: 14px;
  }
  .fourth-img-wrap {
    margin-bottom: 10px;
  }
  .fourth-text-overlay {
    border-radius: 0 0 20px 20px;
  }
  .fourth-text-overlay.expanded {
    border-radius: 20px;
  }
  .fourth-text-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .fourth-text-text {
    font-size: 12px;
  }
  .fourth-image {
    border-radius: 20px;
  }
}
@media (max-width: 576px) {
  .burger-body {
    padding: 50px 30px;
  }
  .burger-language {
    margin-bottom: 0px;
  }
  .burger-lang__item {
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 12px;
  }
  .contact-wrapper {
    max-width: 200px;
  }
  .contact-block {
    padding: 15px;
    font-size: 12px;
  }
  .contact-us-btn {
    padding: 10px 15px;
    font-size: 10px;
  }
  .contact-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .contacts-block {
    gap: 10px;
  }
  .call-us-btn {
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 10px;
  }
  footer {
    font-size: 10px;
  }
  .my-container {
    padding: 10px 8px;
  }
  .img-block {
    max-width: 150px;
  }
  .email {
    font-size: 12px;
  }
  .email-btn {
    border-radius: 20px;
    padding: 4px 15px;
    font-size: 10px;
  }
  .why-wrapper {
    margin-bottom: 20px;
  }
  .why-cover-title {
    font-size: 16px;
    left: 3%;
  }
  .why-cover-text {
    font-size: 8px;
    left: 3%;
  }
  .cover-overlay {
    border-radius: 15px;
    top: -0.5px;
  }
  .cover-image {
    border-radius: 15px;
  }
  .why-sec-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .sec-img-wrap {
    margin: 0px 3px;
  }
  .sec-overlay {
    border-radius: 5px;
  }
  .sec-image {
    border-radius: 5px;
  }
  .sec-text {
    font-size: 10px;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.8em !important;
    padding: 10% 20% 10% 25%;
    margin-right: 0%;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.8em !important;
    padding: 10% 25% 10% 20%;
    margin-left: 0%;
  }
  /* .third-image {
    border-radius: 15px;
  }
  .third-text-overlay {
    border-radius: 15px;
  } */
  .third-text {
    font-size: 10px;
  }
  .fourth-img-wrap {
    margin-bottom: 5px;
  }
  .fourth-text-overlay {
    border-radius: 0 0 15px 15px;
  }
  .fourth-text-overlay.expanded {
    border-radius: 15px;
  }
  .fourth-text-title {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.2;
  }
  .fourth-text-text {
    font-size: 10px;
    line-height: 1.2;
  }
  .fourth-image {
    border-radius: 15px;
  }
}
@media (max-width: 367px) {
  .contact-wrapper {
    top: 110%;
    right: -20%;
  }
  .burger-body {
    width: 70%;
    padding: 50px 20px;
  }
  .send-message-btn {
    padding: 10px;
    width: 100%;
    font-size: 10px;
  }
  .contact-us-btn {
    padding: 5px 10px;
  }
  .why-cover-title {
    font-size: 12px;
  }
  .why-cover-text {
    font-size: 6px;
  }
  .cover-overlay {
    border-radius: 10px;
  }
  .cover-image {
    border-radius: 10px;
  }
  .why-sec-title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .sec-text {
    font-size: 8px;
    line-height: 1;
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.5em !important;
    padding: 8% 14% 8% 16%;
    margin-left: 80%;
    margin-right: 0%;
  }

  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: 0.5em !important;
    padding: 8% 16% 8% 14%;
    margin-right: 80%;
    margin-left: 0%;
  }
  /* .third-image {
    border-radius: 10px;
  }
  .third-text-overlay {
    border-radius: 10px;
  } */
  .third-text {
    font-size: 8px;
  }
  .fourth-text-overlay {
    border-radius: 0 0 10px 10px;
  }
  .fourth-text-overlay.expanded {
    border-radius: 10px;
  }
  .fourth-text-title {
    font-size: 10px;
    margin-bottom: 5px;
    line-height: 1;
  }
  .fourth-text-text {
    font-size: 8px;
  }
  .fourth-image {
    border-radius: 10px;
  }
}
